* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083B4C;
    text-align: center;
}

h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: white;
    font-size: 100px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.squeres {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.sq {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: blue;
}

.sq2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: green;
}

.sq3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: gold;
}

.sq4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: red;
}